<section data-state="lab">
  <h3>Bonus Lab: GitLab CI/CD Setup</h3>
  <small><p>Note: This lab requires some familiarity with <a target="_blank" href="https://docs.gitlab.com/ee/ci/docker/using_docker_images.html">Docker</a></p></small>>
  <ol>
    <li>Create the <pre style="display:inline;">.gitlab-ci.yml</pre>file</li>
    <li>Add the Following <pre style="display:inline;">stages</pre> and <pre style="display:inline;">jobs</pre>:</li>
    <pre><code class="language-javascript">
      stages:
        - test
        - build
        - deploy

      terraform-validate:
        stage: test
        image:
          name: hashicorp/terraform:latest
          entrypoint:
            - '/usr/bin/env'
        script:
          - cd terraform
          - terraform init
          - terraform validate

      terraform-plan:
        stage: build
        image:
          name: hashicorp/terraform:latest
          entrypoint:
            - '/usr/bin/env'
        script:
          - cd terraform
          - terraform init
          - terraform plan

      terraform-apply:
        stage: deploy
        image:
          name: hashicorp/terraform:latest
          entrypoint:
            - '/usr/bin/env'
        script:
          - cd terraform
          - terraform init
          - terraform plan
          - terraform apply -auto-approve tfplan
        dependencies:
          - terraform-plan
        artifacts:
          paths:
            - terraform/tfplan
    </code></pre>
  </ol>

  <aside class ="notes">
    <ol>
      <li></li>
      <li></li>
    </ol>
  </aside>

</section>