<section data-state="lab">
    <h3>Lab 1: Verify Terraform Installation</h3>
    <ol>
        <li>Download and install the terraform binary</li>
        <li>Verify installation by running the following command in a terminal or command prompt:</li>
    </ol>
    <pre><code class="language-javascript">
    $ terraform -v
    </code></pre>
    <small><a target="_blank" href="https://gitpod.io/#https://gitlab.com/jtack4970/your-first-terraform-pipeline/-/tree/main/"><img src="https://gitpod.io/button/open-in-gitpod.svg" style></a></small>
    <aside class ="notes">
        <ol>
            <li></li>
            <li></li>
        </ol>
    </aside>

</section>