<section data-state="lab">
  <h3>Lab 2.2: Launch AWS Instance</h3>
  <ol>
    <li>Add the "aws" provider configuration</li>
    <li>Add an <pre style="display:inline;">aws_instance</pre> configuration</li>
  </ol>
  <pre><code class="language-javascript">
    provider "aws" {
      region = "us-east-1"
    }

    resource "aws_instance" "web" {
      ami           = "ami-08a52ddb321b32a8c"
      instance_type = "t3.micro"
    }
    </code></pre>
  <aside class ="notes">
    <ol>
      <li></li>
      <li></li>
    </ol>
  </aside>

</section>