<section data-state="lab">
    <h3>Lab 2.3: Launch AWS Instance</h3>
    <ol>
        <li>Run <pre style="display:inline;">terraform init</pre>, and <pre style="display:inline;">terraform plan</pre></li>
        <li>Examine the console output</li>
    </ol>
    <pre><code class="language-javascript">
    terraform init
    terraform plan
    </code></pre>
    <aside class ="notes">
        <ol>
            <li></li>
            <li></li>
        </ol>
    </aside>

</section>