<section data-state="lab">
    <h3>Lab 2.1: Launch AWS Instance</h3>
    <small><p>Note: the following commands are for MacOSX/Linux</p></small>
    <ol>
        <li>Configure your AWS Credentials</li>
        <pre><code class="language-javascript">
   export AWS_ACCESS_KEY_ID="xxx"
   export AWS_SECRET_ACCESS_KEY="xxx"
        </code></pre>
        <li>Create <pre style="display:inline;">main.tf</pre> file in <pre style="display:inline;">terraform/</pre> directory</li>
        <pre><code class="language-javascript">
        cd terraform/
        touch main.tf
        </code></pre>
    </ol>
    <aside class ="notes">
        <ol>
            <li></li>
            <li></li>
        </ol>
    </aside>

</section>