<section data-state="lab">
  <h3>Lab 3.3: Backend Setup</h3>
   <ol>
       <li>Add the <pre style="display:inline;">backend</pre> block to your <pre style="display:inline;">main.tf</pre> file</li>
   </ol>
  <p>Example:</p>
  <pre><code class="language-javascript">
  terraform {
    backend "s3" {
        bucket = "your-first-terraform-pipelines-tfstate"
        key    = "./terraform.tfstate"
        region = "us-east-1"
        dynamodb_table = "your-first-terraform-pipelines-tfstate-lock"
    }
    #...
}
  </code></pre>
  <aside class ="notes">
    <ol>
      <li></li>
      <li></li>
    </ol>
  </aside>

</section>