<section data-state="lab">
  <h3>Lab 3.1: Backend Setup</h3>
    <ol>
      <li>In the AWS Console select S3</li>
      <li>Create a bucket with the default settings named: <pre style="display:inline;">your-first-terraform-pipelines-tfstate</pre></li>
      <li>Back in the AWS Console select DynamoDB</li>
      <li>Create a table with the key LockID and a name: <pre style="display:inline;">your-first-terraform-pipelines-tfstate-lock</pre></li>
    </ol>
  <aside class ="notes">
    <ol>
      <li></li>
      <li></li>
    </ol>
  </aside>

</section>