<section data-state="lab">
    <h3>Lab 3.2: Backend Setup</h3>
    <img src="./assets/images/s3.png" width="60%">
    <br>
    <img src="./assets/images/dynamodb.png" width="60%">
    <aside class ="notes">
        <ol>
            <li></li>
            <li></li>
        </ol>
    </aside>

</section>