<section>
    <div class="two-column">
        <div class="column">
            <h2>Prerequisites</h2>
            <ul>
                <li>git Basics</li>
                <li>GitLab Account</li>
                <li>AWS knowledge (account optional)</li>
            </ul>

        </div>
        <div class="column">
            <br>
            <img src="./assets/images/git.png" width="30%"> <br>
            <img src="./assets/images/gitlab-tile.svg" width="30%"> <br>
            <img src="./assets/images/aws.png" width="30%"> <br>
        </div>
    </div>
</section>