<section>
  <h2>Terraform CLI Commands</h2>
  <ul>
    <li><pre style="display:inline;">terraform init</pre></li>
    <li><pre style="display:inline;">terraform validate</pre></li>
    <li><pre style="display:inline;">terraform plan</pre></li>
    <li><pre style="display:inline;">terraform apply</pre></li>
  </ul>
  <div>
    <small><p>Link: <a target="_blank" href="https://developer.hashicorp.com/terraform/cli/commands">Terraform CLI Commands</a></p></small>
  </div>
</section>