<section>
  <h2>What about Access Keys?</h2>
  <ol>
    <li class="fragment" data-fragment-index="1"><pre style="display:inline;">AWS_ACCESS_KEY_ID</pre></li>
    <li class="fragment" data-fragment-index="2"><pre style="display:inline;">AWS_SECRET_ACCESS_KEY</pre></li>
  </ol>
  <div>
    <small><p>Link: <a target="_blank" href="https://registry.terraform.io/providers/hashicorp/aws/latest/docs#environment-variables">AWS Access Key Best Practices</a></p></small>
  </div>
</section>