<section>
  <h2>Project Bare Minimum</h2>
  <ul>
    <li class="fragment" data-fragment-index="1"><pre style="display:inline;">main.tf</pre></li>
    <li class="fragment" data-fragment-index="2"><pre style="display:inline;">terraform.tfstate</pre></li>
    <li class="fragment" data-fragment-index="3"><pre style="display:inline;">terraform.tfstate.backup</pre></li>
  </ul>
</section>