<section>
    <h2>Where Do We Go From Here?</h2>
    <ul>
        <li>Try running Terraform in you GitLab Pipeline</li>
        <li>Attempt to provision more complex infrastructure</li>
        <li>Localize and Optimize your configuration using expressions and variables</li>
    </ul>
</section>