<section xmlns="http://www.w3.org/1999/html">
  <h2>What You Will Learn Today</h2>
  <ul>
    <li>How to Install Terraform</li>
    <li>How to execute Terraform CLI Commands</li>
    <li>Demonstrate basic understanding of Terraform State</li>
  </ul>
</section>