<section>
  <h2>Current vs. Desired State</h2>
  <div class="two-column">
    <div class="column">
      <h3>Current</h3>
      <pre><code class="language-markup">
      resource "aws_instance" "web" {
        ami           = "ami-08a52ddb321b32a8c"
        instance_type = "t3.micro"
    }
    </code></pre>
    </div>
    <div class="column">
      <h3>Desired</h3>
      resource "aws_instance" "web" {
        ami           = "ami-08a52ddb321b32a8c"
        instance_type = "t2.large"
      }
    </div>
  </div>
</section>