<section>
    <h2>Handling State</h2>
    <ul>
        <li>Default local file name is: <pre style="display:inline;">terraform.tfstate</pre></li>
        <li>Used to map configuration resources to their real-world counterparts</li>
    </ul>
    <div>
        <small><p>Link: <a target="_blank" href="https://developer.hashicorp.com/terraform/language/state">State</a></p></small>
    </div>
    <aside class="notes">
        <p>Terraform writes the 'state' of the infrastructure stack to a file. By Default, the local file name is: <pre style="display:inline;">terraform.tfstate</pre></p>
        <p>Terraform requires some sort of database to map Terraform configs to the real world. For example, if you have a resource block called "aws_instance" "web" (like in our last lab) in your configuration, Terraform uses this mapping to know that the  resource "aws_instance" "foo" represents a real world object with a specific AWS instance ID i-abcd1234 in your AWS account.</p>
        <p>There are multiple options to maintain state...both remote and local. But if you plan on collobarating with multipe other developers or infrastructure engineers, you can imagine keeping your statefile on your local laptop is problematic. And you defintely don't want to commit this file to a public repo because it can contain vulnerable hash data that attackers can leverage against your cloud providers</p>
        <p>So this brings us to our next topic....</p>
    </aside>
</section>