<section>
  <h2>Installing Terraform</h2>
  <ul>
    <li>Download the binary file</li>
    <li>Supported Platforms: MacOSX, Windows, Linux, FreeBSD, OpenBSD, Solaris</li>
    <li><a target="_blank" href="https://developer.hashicorp.com/terraform/downloads?ajs_aid=485c65ab-44ac-4a19-a041-a9192a90d33c&product_intent=terraform">Download from Here</a></li>
  </ul>
  <img src="./assets/images/install-terraform.png" width="60%">
</section>