<section>
    <h2>Configuration: Arguments</h2>
    <p>Syntax: <pre style="display:inline;">argument_name = argument_value</pre></p>
    <p>Argument Example:</p>
    <pre><code class="language-markup">
        ami = "abc123"
    </code></pre>
    <div>
        <small><p>Link: <a target="_blank" href="https://developer.hashicorp.com/terraform/language/expressions">Argument Expressions</a></p></small>
    </div>
    <aside class="notes">
        <p>The Terraform language syntax is built around two key syntax constructs: arguments and blocks.</p>
        <p>First one we will address is the argument, an argument assigns a value to a particular name. In this case the argument name is to the left... and in this case we're using an argument called 'ami'. The expression to the right is the argument's value.</p>
        <p>Depending on the argument, the value might be one data type or another. In this case it's a string value. Each resource type has it's own schema where defines the acceptable data types for its arguments for example a string, object, number, etc. When you get more advanced in your terraform usage you can opt to use what's known as 'arbitrary expressions.' </p>
        <p>That's a bit out of scope for today but if you want to learn more, there is a link at the bottom if you want to research more about argument expressions</p>
    </aside>
</section>