<section xmlns="http://www.w3.org/1999/html">
  <h1>Thank You!</h1>
  <p>Please ask me any questions!</p>
  <div>
    <ul>
      <li><img src="./assets/images/linkedin.png" width="9%" style="margin-bottom: -10px"> jtack4970@gmail.com</li>
      <li><img src="./assets/images/Gmail-logo.png" style="margin-bottom: -15px; margin-left: -13px"> https://www.linkedin.com/in/jamestacker/</li>
    </ul>
  </div>
</section>