<section>
  <h2>Example Backend</h2>
  <pre><code class="language-markup">
terraform {
    backend "s3" {
        bucket = "your-first-terraform-pipelines-tfstate"
        key    = "./terraform.tfstate"
        region = "us-east-1"
        dynamodb_table = "your-first-terraform-pipelines-tfstate-lock"
    }
}
    </code></pre>
  <aside class="notes">
    <p>So here in this example we've defined a backend s3 bucket, in addition to a dynamodb_table to enforce state locking.</p>
    <p>We've kept our provider and resource blocks the same, but now we're instructing Terraform to place the state file in a remote location rather than on our machine.</p>
  </aside>
</section>