<section>
  <h2>Backend Configuration</h2>
  <ul>
    <li>Using the <pre style="display:inline;">backend</pre> block, we can tell Terraform where to store our state files</li>
  <li><pre style="display:inline;">backend</pre> as well as <pre style="display:inline;">provider</pre> blocks can nest inside the <pre style="display:inline;">terraform</pre> block</li>
  <li>Examples Include:
    <ul>
      <li><pre style="display:inline;">remote</pre></li>
      <li><pre style="display:inline;">azurerm</pre></li>
      <li><pre style="display:inline;">gcs</pre></li>
      <li><pre style="display:inline;">s3</pre></li>
    </ul>
  </li>
  </ul>
  <div>
    <small><p>Link: <a target="_blank" href="https://developer.hashicorp.com/terraform/language/settings/backends/configuration#available-backends">Available Backends</a></p></small>
  </div>
  <aside class="notes">
    <p>By default, Terraform uses a backend called local, which stores state as a local file on disk.</p>
    <p>Some of these backends act like plain remote disks for state files, while others support locking the state while operations are being performed. This helps prevent conflicts and inconsistencies while multiple folks work off of the same project</p>
  </aside>
</section>