<section>
  <h2>Configuration: Providers</h2>
  <p>Providers are like plugins that help interact with remote endpoints (cloud providers, SaaS, APIs, etc.) in order to provision resources</p>
  <p>Provider Configuration:</p>
  <pre><code class="language-markup">
provider "aws" {
  region = "us-east-1"
}
    </code></pre>
  <div>
    <small><p>Link: <a target="_blank" href="https://developer.hashicorp.com/terraform/language/providers">Providers</a></p></small>
  </div>
  <aside class="notes">
    <p>So taking one step back here, before we can do anything with blocks and arguments, we first need to define and download the necessary provider plugins.</p>
    <p>In the previous slide we were getting ready to provision an aws_instance, but first we need to instruct Terraform to download the aws provider plugin so we can initialize the project state and begin spinning up resrouces.</p>
    <p>Typically provider plugins require some degree of configuration like in this example it's asking us to define a region in which we want to operate. With AWS in particular you can define multiple regions but it would require the use of an alias, which we won't get into today.</p>
    <p>Also, for those of you who already have some experience using this provider you might be thinking where do we define the AWS account credentials? Well, if you're just starting out you totally could hard code them here as long as you know you're not commiting this project anyhwere public, however that's a terriable practice. Instead we rely on system environment varaibles to load our configuration details so that terraform can use them. Luckily terraform accepts some of the default variable names such as these two: </p>
  </aside>
</section>