<section>
    <div class="two-column">
        <div class="column">
            <img src="assets/images/instructor.jpeg">
        </div>
        <div class="column">
            <h2>Today's Instructor</h2>
            <h4>James Tacker</h4>
            <ul>
                <li>DevOps Engineer</li>
                <li>SF Bay Area Native</li>
                <li>IaC (Terraform), JS, Python, Docker</li>
            </ul>
        </div>
    </div>
</section>
