<section>
    <h2>Project Structure</h2>
    <pre><code class="language-markup">
my-terraform-project/
│
├── main.tf        # Main Terraform configuration file
├── variables.tf   # Variable definitions
├── outputs.tf     # Output definitions
│
├── providers.tf   # Provider configurations
│
├── modules/       # Directory for custom modules
├── terraform.tfstate
├── terraform.tfstate.backup
│
└── .gitignore    # exclude local state and other files
    </code></pre>
</section>