<section>
    <h2>Why Terraform?</h2>
        <ul>
            <li class="fragment" data-fragment-index="1">IaC: Infrastructure as Code</li>
            <li class="fragment" data-fragment-index="2">Declarative</li>
            <li class="fragment" data-fragment-index="3">Multiple platform support</li>
            <li class="fragment" data-fragment-index="4">Open Source</li>
        </ul>
    <br>
    <img src="assets/images/terraform.png" width="30%">
    <aside class="notes">
        <ul>
            <li>Terraform is known as an infrastructure as code tool, it's primary responsibility is to provision cloud computing resources in whichever platform you designate as the infrastructure or devops engineer</li>
            <li>One of the key ingredients to Terraform's success is that HCL or rather (HashiCorp Configuration Language) is a declarative language. HCL outlines the intended goal of your configuration rather than the steps to reach that goal. In other words, the ordering of blocks and the files are generally not significant; Terraform uses what's called implicit and explicit relationships (which we will get into a bit later), to determines the relationship between resources as well as the order of operations.</li>
            <li>Terraform also supports multiple cloud platforms as well as other technologies that you may need to incorporate in your stack. And it does this through what's known as providers, which we will also get to in a moment.</li>
            <li>And finally, the open source version is free and has an extensive community constantly contributing on the daily.</li>
        </ul>
    </aside>
</section>
