<section>
  <h2>Configuration: Blocks</h2>
  <p>Syntax: <pre style="display:inline;">block_type "label_1" "label_2" {} </pre></p>
  <p>Block Example:</p>
  <pre><code class="language-markup">
resource "aws_instance" "example" {
  ami = "abc123"
  #... other stuff
}
    </code></pre>
  <div>
    <small><p>Link: <a target="_blank" href="https://developer.hashicorp.com/terraform/language/resources/syntax#resource-blocks">Resource Blocks</a></p></small>
  </div>
  <aside class="notes">
    <p>Blocks are how we group terraform content together, and we can think of them as just that, content containers.</p>
    <p>One of the most common blocks is the resource block, if you might have guessed already we use this block to define a resource we wish provision using terraform. And you can probably see that this particular resource block is called "aws_instance".</p>
    <p>Typically the first label after the block name is referred to as the resource type, and the second label is the resource identifier.</p>
    <p>That's a bit of an over-simplification because not all blocks are created equal, and in some cases there might be multiple labels and identifiers or less, but for the sake of our objectives today that's how we will classify this block type.</p>
  </aside>
</section>