/* Custom Colors */
:root {
    --primary-color: #fca326;
    --secondary-color: #554588;
    --accent-color:  #fd6d25;
    --background-color: #f9f9f9;
    --text-color: #000;
    --code-background: #252937;
    --code-text: #d6d6d8;
}

/* Position the GitLab logo in the top left corner */
.gitlab-logo {
    position: absolute;
    top: 10px; /* Adjust as needed to position the logo vertically */
    left: 20px; /* Adjust as needed to position the logo horizontally */
}

/* Override theme background color */
.reveal {
    background-color: var(--background-color);
}

/* Override heading text color */
.reveal h1 {
    color: var(--primary-color);
}

.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: var(--secondary-color);
}

.reveal p, .reveal li, .reveal blockquote {
    color: var(--text-color);
}

/* Override link color */
.reveal a {
    color: var(--secondary-color);
}
.reveal pre {
    background-color: var(--code-background);
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

/* Remove background color for inline code */
pre[style*="display:inline;"] {
    background-color: transparent !important;
    color: var(--accent-color);
    border: none !important;
    box-shadow: none !important;
    font-size: 30px;
}

/* Override slide background color */
.slide {
    background-color: #fff;
}

/* Add more custom styles as needed */
/* Two-Column Layout Styles */
.two-column {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

/********************************
* PROGRESS BAR
 *********************************/

.reveal .progress {
    height: 1%;
    color: var(--accent-color);
}
